 <span class="label label-default">Estudiantes:</span><br/><br/>
 <span class="label label-default">Nombres</span> 
 <input type="text" name="nombre" id="nombres" ><br/><br/>
 <span class="label label-default">apellidos</span> 
 <input type="text" name="nombre" id="apellidos" ><br/><br/> 
 <span class="label label-default">direccion</span>
 <input type="text" name="nombre" id="direccion" ><br/><br/> 
 <span class="label label-default">telefono</span>
 <input type="text" name="nombre" id="telefono" ><br/><br/> 
 <span class="label label-default">correo</span>
 <input type="text" name="nombre" id="correo" ><br/><br/> 
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guardar </button>
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">cancelar </button>